/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e5226;
    color: #333;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Estilos para el sidebar similar a Bootstrap */
.sidebar {
    background-color: #295e40;
    color: #fff;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 260px;
}

.sidebar .logo {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0;
    text-align: center;
}

.sidebar .logo img {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.sidebar .icon {
    margin: 20px 0;
    text-align: center;
}

.sidebar .icon a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.sidebar .icon a:hover {
    background-color: #295e40;
    border-radius: 5px;
}

.sidebar .active {
    background-color:#295e40;
    border-radius: 5px;
}

.sidebar .separator {
    border-bottom: 1px solid #fff;
    margin: 10px 0;
}

.sidebar .collapse-btn {
    background-color: #5cb85c;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    display: block;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
}

.sidebar .collapse-btn:hover {
    background-color: #449d44;
}

.sidebar .submenu {
    padding-left: 20px;
    display: none;
}

.sidebar .submenu.active {
    display: block;
}

/* Estilos para el contenido principal */
.content {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 250px);
    background-color: #f9f9f9;
    padding: 10px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.controls label {
    font-weight: bold;
}

.controls select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.data-visualization {
    display: flex;
    gap: 20px;
    height: 100%;
    overflow-y: auto;
}

.data-grid {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border-color: black 2px;
}

.data-grid-container {
    flex: 1;
    max-width: 35%;
    border: 2px solid #000000;
    height: 500px;
    overflow: auto;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.grafico {
    flex: 2;
    border: 2px solid #000000;
    height: 500px;
}

.table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #eaf5ea;
}

tr.selected {
    background-color: yellow !important;
}

thead th {
    position: sticky;
    top: 0;
    background: #f2c200;
    z-index: 2;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

/* Estilos para el contenedor desplegable */
#dropdown-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

#dropdown-container select,
#dropdown-container button {
    padding: 8px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

/* Estilos para el botón de buscar */
#buscar-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#buscar-btn:hover {
    background-color: #1c601a;
    color: black;
}

/* Estilos para el popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
}

.popup-text {
    margin-bottom: 20px;
}

.popup button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.popup button:hover {
    background-color: #0056b3;
}
